<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-card>
      <ion-card-header>

      <!-- clase en la hoja de estilo -->
        <ion-card-title class="titulo">Sobre Nosostros</ion-card-title>
	    
    </ion-card-header>
	  
      <ion-card-content>

      <!-- identificador en la hoja de estilo -->
      <p id="descripcion">Estudiantes universitarios de la Escuela Superior Politécnica del Litoral crearon esta propuesta dirigida a amantes de la lectura que deseen mantener un registro de las citas significativas de los libros que hayan dejado huella en ellos.</p>
      <ion-list>
        <ion-item>
          <p>Sofía Zárate</p>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <p>Carlos Alvia</p>
        </ion-item>
      </ion-list>   
      <ion-list>
        <ion-item>
          <p>Angello Bravo</p>
        </ion-item>
      </ion-list>       
    </ion-card-content>
    </ion-card>

</ion-content>
</ion-content>
